
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section Banner{
    <div class="banner ">
        <img id="pic" src="~/Images/August-Motorcars-Supercar-Showroom.jpg" alt="">
        <div class="in-content">
            <div class="tran-box">
                <div class="title">Design for life</div>
                <div class="text-title">Say hello to our brand new arrivals.</div>
                <div class="all-button">
                    <button>Shop all new in</button>
                </div>
            </div>
            <button id="left" onclick="changeSlide(-1)"><i class="fa-solid fa-arrow-left"></i></button>
            <button id="right" onclick="changeSlide(1)"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div id="list">
            <ul>
                <li><button onclick="indexNumber(0)"></button></li>
                <li><button onclick="indexNumber(1)"></button></li>
                <li><button onclick="indexNumber(2)"></button></li>
            </ul>
        </div>
    </div>}


<div class="box-room pt-5" id="box-room">
    <a href="/home/index?HangXe=Lamborghini#box-room">
        <div class="living-room">

            <img src="~/Images/images.jpg" alt="">
            <div class="title-Living-room">Lamborghini</div>
            <div class="Shop-col">Luxury Dealer</div>
        </div>
    </a>
    <a href="/home/index?HangXe=Ferrari#box-room">
        <div class="bed-room">


            <img src="~/Images/ferrari-logo-1931.jpg" alt="">
            <div class="title-bed-room">Ferrari</div>
            <div class="Shop-col">Luxury Dealer</div>
        </div>
    </a>
    <a href="/home/index?HangXe=Maserati#box-room">
        <div class="ketchen-room">

            <img src="~/Images/r.jpg" alt="">
            <div class="title-kitchen-room">Maserati</div>
            <div class="Shop-col">Luxury Dealer</div>
        </div>
    </a>
</div>
<div>
    @{
        if (@ViewBag.dsXeTheoHang != null && @ViewBag.dsXeTheoHang.Count > 0)
        {
            <div class="all-new-product" style="justify-content: space-around">

                @foreach (var row in @ViewBag.dsXeTheoHang)
                {
                    <div class="new-product">
                        <a href="@Url.Action("ChiTietSanPham", "Xe", new { id = row.MaXe })" style="text-decoration: none;">
                            <div class="new-img-product">
                                <img style="object-position: 0px;" id="Pic-3" src="~/Images/@row.HinhAnh" alt="@row.TenXe">
                                <div class="note-notif">
                                </div>
                            </div>
                        </a>
                        <div class="box-name-product">
                            <div class="name-product">
                                @row.TenXe
                            </div>
                            <div id="Prict-prod" class="price-product">
                                <span>@row.GiaBanXe $</span>
                            </div>
                            <div class="buttom-1">
                                <button type="button" onclick="window.location.href='@Url.Action("Add", "Favourite", new { id = row.MaXe })';">
                                    <i class="fa-solid fa-cart-plus"></i>
                                    <span>Thêm vào yêu thích</span>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="no-product">
                <p>No products available.</p>
            </div>
        }
    }

</div>
<div class="setion-shop">
    <div class="box-title">
        <div class="title-shop">Phân loại</div>
    </div>
    <div class="all-box-product">
        <div class="box-product">
            <a href="/home/index?DongXe=Hypercar#box-product">
                <img src="~/Images/640-sieu-xe-Pagani-Huayra-BC.jpg" />
                <div class="title-product">Hypercar</div>
            </a>
        </div>
        <div class="box-product">
            <a href="/home/index?DongXe=Supercar#box-product">
                <img src="~/Images/DS102853_480x480.jpg" />
                <div class="title-product">Supercar</div>
            </a>
        </div>
        <div class="box-product">
            <a href="/home/index?DongXe=SUV#box-product">

                <img src="~/Images/lamborghini-urus-16875333912111624025262-75-0-1080-1920-crop-1687533407701316181641.jpg" />
                <div class="title-product">SUV</div>
            </a>
        </div>
        <div class="box-product">
            <a href="/home/index?DongXe=Luxury#box-product">

                <img src="~/Images/xehay-Rolls-Royce-Cullinan-review-270120 (4).jpg" />
                <div class="title-product">Luxury</div>
            </a>
        </div>

    </div>
    <div>
        @{
            if (@ViewBag.dsXeTheoDong != null && @ViewBag.dsXeTheoDong.Count > 0)
            {
                <div class="all-new-product" style="justify-content: space-around">

                    @foreach (var row in @ViewBag.dsXeTheoDong)
                    {
                        <div class="new-product">
                            <a href="@Url.Action("ChiTietSanPham", "Xe", new { id = row.MaXe })" style="text-decoration: none;">
                                <div class="new-img-product">
                                    <img style="object-position: 0px;" id="Pic-3" src="~/Images/@row.HinhAnh" alt="@row.TenXe">
                                    <div class="note-notif">
                                    </div>
                                    <div class="all-box-icon">
                                        <i class="fa-regular fa-heart"></i>
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                </div>
                            </a>
                            <div class="box-name-product">
                                <div class="name-product">
                                    @row.TenXe
                                </div>
                                <div id="Prict-prod" class="price-product">
                                    <span>@row.GiaBanXe $</span>
                                </div>
                                <div class="buttom-1">
                                    <button type="button" onclick="window.location.href='@Url.Action("Add", "Favourite", new { id = row.MaXe })';">
                                        <i class="fa-solid fa-cart-plus"></i>
                                        <span>Thêm vào yêu thích</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-product">
                    <p>No products available.</p>
                </div>
            }
        }
    </div>
</div>

<div class="box-product-sell">
    <div class="box-product-sell-2">
        <div class="in-title">
            <div class="word">
                Sản phẩm hot
            </div>
            <div class="see-deals">
                <a href="/home/sanpham">
                    xem chi tiết
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="all-new-product">
            <div class="new-product">
                <div class="all-product">
                    <a href="" style="text-decoration: none;">
                        <div class="new-img-product">

                            <img id="Pic-1" src="~/Images/fordgt.jpg" alt="">
                            <div class="note-notif">

                                <div class="title-hot">
                                    Rare
                                </div>
                            </div>
                            <div class="all-box-icon">
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </a>
                    <div class="box-name-product">
                        <div class="name-product">
                            2021 Ford GT
                        </div>
                        <div id="Prict-prod" class="price-product">                            
                            <span>1,436,462 $</span>
                        </div>
                        <div class="buttom-1">
                            <button type="button">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span>Thêm vào yêu thích</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-product">
                <div class="all-product">
                    <a href="" style="text-decoration: none;">
                        <div class="new-img-product">

                            <img id="Pic-2" src="~/Images/DS103882_2_480x480.jpg" alt="">
                            <div class="note-notif">
                                <div class="title-hot">
                                    Used
                                </div>
                            </div>
                            <div class="all-box-icon">
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </a>
                    <div class="box-name-product">
                        <div class="name-product">
                            2024 Porcher 911 GT3 RS
                        </div>
                        <div id="Prict-prod" class="price-product">               
                            <span>436,462 $</span>
                        </div>
                        <div class="buttom-1">
                            <button type="submit">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span>add to cart</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new-product">
                <div class="all-product">
                    <a href="" style="text-decoration: none;">
                        <div class="new-img-product">
                            <img id="Pic-3" src="~/Images/f8.jpg" alt="">
                            <div class="note-notif">
                                <div class="title-hot">
                                    New
                                </div>
                            </div>
                            <div class="all-box-icon">
                                <i class="fa-regular fa-heart"></i>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                        </div>
                    </a>
                    <div class="box-name-product">
                        <div class="name-product">
                            2021 Ferrari F8 Spider
                        </div>
                        <div id="Prict-prod" class="price-product">                      
                            <span>370,444 $</span>
                        </div>
                        <div class="buttom-1">
                            <button type="button">
                                <i class="fa-solid fa-cart-plus"></i>
                                <span>Thêm vào yêu thích</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-bg">
    <div class="box-img">
        <img class="pic-animation" src="Picture/text-animation.jpg" alt="">

    </div>
    <div class="box-content">
        <div class="box-first-content">           
            <div class="word-content">
                <h3>
                    Dịch vụ đẳng cấp   <br>
                    Hành trình hoàn hảo
                    <br>
                </h3>
                <p>
                    Chúng tôi tin rằng trải nghiệm khách hàng là yếu tố cốt lõi để xây dựng niềm tin và sự hài lòng lâu dài. Đội ngũ chuyên nghiệp của chúng tôi luôn lắng nghe, tư vấn tận tâm, giúp bạn tìm thấy chiếc xe hoàn hảo, phù hợp với nhu cầu và phong cách riêng.
                </p>
            </div>
        </div>
    </div>
</div>
