@model List<HeThongQuanLyMuaBanXe.Models.Xe>
@using HeThongQuanLyMuaBanXe.Controllers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
    List<string> dsDongXe = ViewBag.CacDongXe ?? new List<string>();
    List<string> dsMauXe = ViewBag.ColorsOfProduct ?? new List<string>();
}

<div class="row ">
    <p class="col-sm-12" style="font-size:50px; text-indent: 30px; padding-top: 50px">Các dòng siêu xe</p>
    <div class="col-sm-12 d-flex boLoc_DongXe" style="padding-left:50px">
        <div>
            <a href="@Url.Action("Index", "Xe", new { dongXe = (string)null })">Tất cả dòng xe</a>
        </div>
        @foreach (string dong in dsDongXe)
        {
            <div>
                <a href="@Url.Action("Index", "Xe", new { dongXe = dong })">@dong</a>
            </div>
        }
    </div>
</div>

<div class="row ">
    <div class="col-sm-2 boLoc_MauXe">
        <p class="h4" style="text-indent: 30px; padding-top:10px; margin:0;"><strong>Màu sắc</strong></p>
        @using (Html.BeginForm("Index", "Xe", FormMethod.Get, new { style = "padding:10px 55px" }))
        {
            foreach (string color in dsMauXe)
            {
                <div>
                    <input type="checkbox" name="mauXe" value="@color" class="form-check-input boLoc_MauXe_checkBox" />
                    <label class="form-check-label">@color</label>
                </div>
            }
            <div class="w-100 d-flex justify-content-center align-items-center" style="margin-top:10px;">
                <button style="padding-inline: 25px" type="submit" class="btn btn-light btn-outline-dark">Lọc</button>
            </div>
        }
    </div>
    <div class="col-sm-10" style="padding-top: 10px;">
        @{
            Html.RenderPartial("DanhSachXe", Model);
        }
    </div>
</div>