@model List<HeThongQuanLyMuaBanXe.Models.Xe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Mã</th>
        <th>Tên</th>
        <th>Hãng</th>
        <th>Dòng</th>
        <th>Số khung</th>
        <th>Số máy</th>
        <th>Màu sắc</th>
        <th>Năm sản xuất</th>
        <th>Giá bán</th>
        <th>Hình ảnh</th>
    </tr>
    @foreach (var xe in Model)
    {
        <tr>
            <td>@Html.DisplayFor(row => xe.MaXe)</td>
            <td>@Html.DisplayFor(row => xe.TenXe)</td>
            <td>@Html.DisplayFor(row => xe.HangXe)</td>
            <td>@Html.DisplayFor(row => xe.DongXe)</td>
            <td>@Html.DisplayFor(row => xe.SoKhungXe)</td>
            <td>@Html.DisplayFor(row => xe.SoMayXe)</td>
            <td>@Html.DisplayFor(row => xe.MauSac)</td>
            <td>@Html.DisplayFor(row => xe.NamSanXuat)</td>
            <td>@Html.DisplayFor(row => xe.GiaBanXe) VND</td>
            <td><img width="100px"src="~/Images/@xe.HinhAnh" /></td>
        </tr>
    }
</table> 

