@model HeThongQuanLyMuaBanXe.Models.NhanVien
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'>
    <link href="~/Content/Style.css?v=1.2" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style=" background-image: url(/Images/showroomBackgruond.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;">
    <div class="wrapper">
        <div class="login_box row w-75">
            <div class="col-4 login-header">
                <span>Thông tin nhân viên</span>
            </div>
            @* ------------------------------------------------------------- *@
            @using (Html.BeginForm("EditNV", "NhanVien", FormMethod.Post, new { @class = "row" }))
            {
                <input type="hidden" name="MaNhanVien" value="@Model.MaNhanVien" />
                <div class="col-7 input_box">
                    @Html.TextBoxFor(row => row.TenNhanVien, new { @class = "input-field", placeholder = " ", required = "required" })

                    @Html.LabelFor(row => row.TenNhanVien, "Tên nhân viên", new { @class = "label" })
                    <i class="bx bx-user icon"></i>
                </div>

                <div class="col-5 input_box">
                    @Html.DropDownListFor(row => row.VaiTro, new List<SelectListItem>() {
                   new SelectListItem() { Text = "Nhân viên quản lý kho", Value = "userKho" },
                   new SelectListItem() { Text = "Nhân viên quản lý đơn hàng", Value = "userDonHang" } },
                   new { @class = "input-field dropdown-custom" })
                    <i class="bx bx-user-check icon"></i>
                </div>

                <div class="col-12 input_box">
                    @Html.TextBoxFor(row => row.DiaChiNhanVien, new { @class = "input-field", placeholder = " ", required = "required" })

                    @Html.LabelFor(row => row.DiaChiNhanVien, "Địa chỉ hiện tại", new { @class = "label" })
                    <i class="bx bx-user icon"></i>
                </div>

                <div class="col-6 input_box">
                    @Html.TextBoxFor(row => row.EmailNhanVien, new { @class = "input-field", placeholder = " ", required = "required" })

                    @Html.LabelFor(row => row.EmailNhanVien, "Email", new { @class = "label" })
                    <i class="bx bx-user icon"></i>
                </div>

                <div class="col-6 input_box">
                    @Html.TextBoxFor(row => row.SoDienThoaiNhanVien, new { @class = "input-field", placeholder = " ", required = "required" })

                    @Html.LabelFor(row => row.SoDienThoaiNhanVien, "Số điện thoại", new { @class = "label" })
                    <i class="bx b
                       x-user icon"></i>
                </div>

                <div class="input_box">
                    @Html.TextBoxFor(row => row.TenDangNhap, new { @class = "input-field", placeholder = " ", required = "required" })

                    @Html.LabelFor(row => row.TenDangNhap, "Tên đăng nhập", new { @class = "label" })
                    <i class="bx bx-user icon"></i>
                </div>

                <div class="input_box">
                    @Html.TextBoxFor(row => row.MatKhau, new { @class = "input-field", placeholder = " ", required = "required", type = "password" })

                    @Html.LabelFor(row => row.MatKhau, "Mật khẩu", new { @class = "label" })
                    <i class="bx bx-lock-alt icon"></i>
                </div>

                <span style="color:red;font-size:15px">@ViewBag.EditCheck</span>
                <div class="input_box d-flex flex-row justify-content-center">
                    <button style="border-radius:10px;text-decoration: none; color: black; width: fit-content; padding: 10px 12px" type="submit" class="input-submit">Chỉnh sửa</button>&nbsp;
                    <a style="border-radius: 10px; text-decoration: none; width: fit-content; padding: 10px 15px " href="@Url.Action("Index", "NhanVien")" class="btn btn-danger text-white d-flex">Hủy</a>
                </div>
            }
            @* ------------------------------------------------------------- *@
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>
