@model List<HeThongQuanLyMuaBanXe.Models.NhanVien>
@{
    ViewBag.Title = "QuanLyNhanVien";
    Layout = "~/Views/Shared/_LayoutNhanVien2.cshtml";
}


<!-- Page Content Holder -->
<div id="content">
    <div class="container">
        <div class="card text-center">
            <!-- Header -->
            <div class="card-header myCardHeader position-relative">
                <h3 class="text-center text-primary font-weight-bold">
                    Danh sách nhân viên
                </h3>
                <a href="@Url.Action("Register","User")" class="btn btn-primary position-absolute"
                   id="btnThem"
                   data-toggle="modal"
                   data-target="#myModal"
                   style="right: 10px; bottom: 10px;">
                    Thêm nhân viên
                </a>
            </div>

            <!-- Body -->
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <input type="text"
                                   class="form-control"
                                   placeholder="Loại nhân viên"
                                   id="searchName" />
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="btnTimNV">
                                    <button class="btn" onclick="searchStaff()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead class="text-primary">
                        <tr>
                            <th style="width:10% ;">Mã nhân viên</th>
                            <th style="width:17% ;">Họ và tên</th>
                            <th style="width: 17%;">Email</th>
                            <th style="width:23% ;">Địa chỉ</th>
                            <th style="width: 11%;">Số điện thoại</th>
                            <th style="width: 12%;">Chức vụ</th>
                            <th style="width: 5%;"><em class="fa fa-cog"></em></th>
                        </tr>
                    </thead>
                    <tbody id="tableDanhSach">
                        @foreach (var nv in Model)
                        {
                            <tr>
                                <td style="width:10% ;">@Html.DisplayFor(x => nv.MaNhanVien)</td>
                                <td style="width:17% ;">@Html.DisplayFor(x => nv.TenNhanVien)</td>
                                <td style="width: 17%;">@Html.DisplayFor(x => nv.EmailNhanVien)</td>
                                <td style="width:23% ;">@Html.DisplayFor(x => nv.DiaChiNhanVien)</td>
                                <td style="width: 11%;">@Html.DisplayFor(x => nv.SoDienThoaiNhanVien)</td>
                                @if (nv.VaiTro == "admin")
                                {
                                    <td style="width: 12%;">Quản lý</td>
                                }
                                else if (nv.VaiTro == "userKho")
                                {
                                    <td style="width: 12%;">Quản lý kho</td>
                                }
                                else
                                {
                                    <td style="width: 12%;">Quản lý đơn hàng</td>
                                }
                                <td style="width: 5%;"><em class="fa fa-cog"></em></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- Footer -->
            <div class="card-footer myCardFooter">
                <nav>
                    <ul class="pagination justify-content-center"
                        id="ulPhanTrang"></ul>
                </nav>
            </div>
        </div>
    </div>
</div>