
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourites</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/styleQLNV.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/mainQLNV.css" />
    <link rel="stylesheet" href="~/Content/StyleQLDonHang.css?v=1.1" />
</head>

<body>
    <div class="wrapper">
        <!-- Page Content Holder -->
        <div id="content">
            <div class="container">
                <div class="card text-center">
                    <!-- Header -->
                    <div class="card-header myCardHeader position-relative">
                        <h3 class="text-center text-primary font-weight-bold">
                            Danh sách xe yêu thích
                        </h3>
                    </div>
                    <!-- Body -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width:5% ;">STT</th>
                                    <th style="width:35% ;">Tên sản phẩm</th>
                                    <th style="width:15% ;">Số lượng</th>
                                    <th style="width:40%;">Tổng thành tiền (Giá gốc)</th>
                                    <th style="width: 5%;"></th>
                                </tr>
                            </thead>
                            <tbody id="tableDanhSach">
                                @{int i = 1; int totPrice = 0;}

                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td style="width:5% ;">@i</td>
                                        <td style="width:35% ;" class="text-start">@item.Xe.TenXe</td>
                                        <td style="width:15% ;">
                                            @using (Html.BeginForm("UpdateQuantity", "Favourite", FormMethod.Get))
                                            {
                                                <input type="number" value="@item.SoLuong" name="quan" min="1" style="width: 70px;" />
                                                <input type="hidden" name="proid" value="@item.MaXe" />
                                                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                            }
                                        </td>
                                        <td style="width:40% ;">
                                            @{
                                                int Price = item.SoLuong * (int)item.Xe.GiaBanXe;
                                                totPrice += Price;
                                                i++;
                                            }
                                            @Price.ToString() $
                                        </td>
                                        <th style="width: 5%;"><a style="line-height:20px" href="/Favourite/Delete/@item.MaXe" class="fa fa-trash"></a></th>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <button class="btn btn-outline-dark btn-info align-self-end" type="button" onclick="window.location.href='@Url.Action("Index", "Home")';">
                    <span>Trở về trang chủ</span>
                </button>
            </div>
        </div>
    </div>
    <!-- Script -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebarCollapse").on("click", function () {
                $("#sidebar").toggleClass("active");
            });
        });
    </script>
</body>
</html>

