@{
    var tenNVDangDangNhap = HttpUtility.UrlDecode(Context.Request.Cookies["name"]?.Value, System.Text.Encoding.UTF8);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="~/Content/font.css" />
    <link rel="stylesheet" href="~/Content/main.css?v=1.7" type="text/css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="header">
        <div class="content justify-content-center">
            <nav class="box-menu d-xl-block d-none w-50">
                <ul style="margin:0;" class="all-list-menu">
                    <li>
                        <a href="/home/index" class="hover-a fs-5" style="font-weight: bold">TRANG CHỦ</a>
                    </li>
                    <li class="padding-list-menu">
                        <a href="/xe/index" class="hover-a fs-5" style="font-weight: bold">SẢN PHẨM</a>

                    </li>
                    <li class="padding-list-menu">
                        <a href="/nhacungcap/index" class="hover-a fs-5" style="font-weight: bold">ĐỐI TÁC</a>
                    </li>
                    <li class="padding-list-menu">
                        <a href="/thongtindichvu/index" class="hover-a fs-5" style="font-weight: bold">DỊCH VỤ</a>
                    </li>
                    <li class="padding-list-menu">
                        <a href="/lienhe/index" class="hover-a fs-5" style="font-weight: bold">LIÊN HỆ</a>
                    </li>
                    <li class="padding-list-menu">
                        <a href="/blog/index" class="hover-a fs-5" style="font-weight: bold">BLOG</a>
                    </li>
                </ul>
            </nav>
            <a style="width:auto;height:auto;" class="d-flex justify-content-center align-items-center" href=@Url.Action("Index","Home")>
                <img class="" style="width:50%; height: auto;" src="~/Images/logoautodrive.jpg" alt="">
            </a>            
            @* Menu ẩn *@

            <a class="navbar-burger d-xl-none d-flex z-3" onclick="toggleMenu()"><img src="@Url.Content("~/Images/menu.jpg")" alt="Menu Icon"></a>            
            <nav class="menu">
                <a href="/home/index" class="hover-a" style="font-weight: bold;animation-delay: 0.1s">TRANG CHỦ</a>
                <a href="/home/sanpham" class="hover-a" style="font-weight: bold;animation-delay: 0.1s">SẢN PHẨM</a>
                <a href="/home/index" class="hover-a" style="font-weight: bold;animation-delay: 0.1s">THÔNG TIN</a>
            </nav>

            <div class="box-icon">
                <div class="box-heart" style="">
                    <a href=@Url.Action("Index","Favourite")>
                        <i class="fa-regular fa-heart heart"></i>
                    </a>
                </div>

                <div class="box-user" style="">
                    <a href="@Url.Action("Index","NhanVien")">
                        <i class="fa-regular fa-user user"></i>
                    </a>
                </div>
            </div>
        </div>
        @RenderSection("Banner", required: false)
        <script src="~/Scripts/script.js"></script>
    </div>
    <script type="text/javascript">
        const toggleMenu = () => {
            document.querySelector('.navbar-burger').classList.toggle('open'); 
            document.body.classList.toggle("open");
        };

    </script>
    <!-- Phần main -->
    @RenderBody()
    <!-- Kết thúc main -->
    <!-- Phần footer -->
    <div id="footer" class="footer">
        <div class="footer-slideshow">
            <div id="footer-images">

                <img src="~/Images/Screenshot 2024-11-03 083812.jpg" alt="">
                <img src="~/Images/Screenshot 2024-11-03 083812.jpg" alt="">

                <img src="~/Images/Screenshot 2024-11-03 083812.jpg" alt="">

                <img src="~/Images/Screenshot 2024-11-03 083812.jpg" alt="">

            </div>
        </div>
    </div>
    <div class="box-first-footer">
        <div class="contact">
            <h2>GIỚI THIỆU</h2>
            <div class="in">
                <div>Chi nhánh 1: 140 Lê Trọng Tấn,Quận Tân Phú,Tp HCM</div>
                <div>Chi nhánh 2: 239 Đồng Khởi, Bến Nghé, Quận 1, TpHCM</div>
                <div>SDT:0833999999 || 0868686869</div>
                <div>Email:Luxuxycar24@gmail.com</div>
            </div>
        </div>
        <div class="contact">
            <h2>DỊCH VỤ</h2>
            <div class="in">
                <a href="">
                    <div>Nhận đặt hàng</div>
                </a>
                <a href="">
                    <div>Vận chuyển</div>
                </a>
                <a href="">
                    <div>Bảo trì || Bảo hành</div>
                </a>
                <a href="">
                    <div>Bảo hiểm</div>
                </a>

            </div>
        </div>
        <div class="contact">
            <h2>ĐĂNG KÝ</h2>
            <div class="in">
                <div style="margin-bottom: 25px;">
                    Nhập email của bạn vào bên dưới dể là
                    <br>
                    người đầu tiên biết về các bộ sưu tập và ra mắt xe mới
                </div>
                <div class="box-email">
                    <input type="text" placeholder="Email adress...">
                    <button type="submit">
                        <i class="fa-solid fa-envelope"></i>
                    </button>
                </div>
                <div class="icon-contact">
                    <ul>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa-brands fa-behance"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/eda05fcf5c.js" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>

</body>
</html>
